@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';
@import 'primereact/resources/primereact.css';
@import 'primereact/resources/themes/bootstrap4-light-blue/theme.css';

body {
  padding: 0px;
  margin: 0px;
  /* background-color: white; */
}

#root {

  /* max-width: 1280px; */
  margin: 0px;
  padding: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 2rem; */
  text-align: center;
  /* background-color: red; */
}

.required::after {
  content: ' *';
  /* Añade un espacio y el asterisco */
  color: red;
  /* Cambia el color del asterisco si es necesario */
}

.content {
  margin: 0 auto;
  padding: 20px;
}